<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IntexII</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IntexII.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    @* Font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    @* Icons *@
    <script src="https://kit.fontawesome.com/77706cce45.js" crossorigin="anonymous"></script>
    @* Favicon *@
    <link rel="icon" type="image/png" href="~/favicon.png">
</head>
<body>
@if (User.IsInRole("Admin"))
{
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/lib/img/Logo.png" alt="Aurora's Legos Logo" height="50vh">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="navbar-collapse collapse" id="navbarNav">
                <div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin Tools
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAdmin">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReviewOrders">Review Orders</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Brian" asp-action="CrudProducts">CRUD Products</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Brian1" asp-action="CrudUsers">CRUD Users</a>
                                
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownCustomer" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Customer Views
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownCustomer">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                                <vc:cart-summary/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
}
else if (User.IsInRole("Cust"))
{
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/lib/img/Logo.png" alt="Aurora's Legos Logo" height="50vh">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                    </li>
                    <li class="nav-item">
                        <vc:cart-summary/>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        <!--
        <div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                </li>
            </ul>
        </div>
        -->
        </div>
    </nav>
</header>

}
else
{
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/lib/img/Logo.png" alt="Aurora's Legos Logo" height="50vh">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <vc:cart-summary/>
                    </li>
                </ul>
            </div>
            <div>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
}

@* <!-- THIS IS COMMENTED OUT SO IT DOESNT SHOW UP ON EACH PAGE - ask brian --> *@
@* <div class="bg-dark text-white p-2"> *@
@*     <div class="container-fluid"> *@
@*         <div class="row"> *@
@*             <div class="col navbar-brand"> THE INTEX STORE </div> *@
@*             <div class="col-6 navbar-text text-end"> *@
@*                 <vc:cart-summary/> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<main role="main" class="pb-3">
    @RenderBody()
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Aurora's Legos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
