@{
ViewData["Title"] = "Edit Products";
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Products</title>
    <h4><powerful>This will be the CRUD Page for ADMINS ONLY that will be able to edit Products</powerful></h4>
    
</head>
<body>
<div>
      
</div>
</body>
</html>