@model IntexII.Models.Customers

<!DOCTYPE html>
<html>
<head>
    <title>Update Users</title>
</head>
<body>
<h2>Update User</h2>
<form asp-action="UpdateCustomers" method="post">
    <input type="hidden" asp-for="customer_ID" />
    <div>
        <label asp-for="customer_ID"></label>
        <input asp-for="customer_ID" />
    </div>
    <div>
        <label asp-for="first_Name"></label>
        <input asp-for="first_Name" />
    </div>
    <div>
        <label asp-for="last_Name"></label>
        <input asp-for="last_Name" />
    </div>
    <div>
        <label asp-for="birth_date"></label>
        <input asp-for="birth_date" />
    </div>
    <div>
        <label asp-for="country_of_Residence"></label>
        <input asp-for="country_of_Residence" />
    </div>
    <div>
        <label asp-for="gender"></label>
        <input asp-for="gender" />
    </div>
    <div>
        <label asp-for="age"></label>
        <input asp-for="age" />
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
</body>
</html>

