@{
ViewData["Title"] = "About Us";
}

<!DOCTYPE html>

<html>
<head>
    <title>This is going to be the About Us Page</title>
    <h4><strong>This page will introduce Aurora Brickwell and how she got her start</strong></h4>
    <h4><strong>We can makeup our Own Details</strong></h4>
</head>
<body>
<div>
      
</div>
</body>
</html>