@{
ViewData["Title"] = "About Us";
}

<div class="gradient-header">
    <div>
        <h1 class="title">About Aurora</h1>
        <h2 class="subtitle">A child's dream</h2>
    </div>
</div>

<div class="container m-5">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="~/lib/img/Aurora.png" alt="Image" class="img-fluid circle-img">
        </div>
        <div class="col-md-6">
            <p class="indent">
                Aurora Brickwell, a renowned collector of Legos™ and a true master builder, embarked 
                on her journey into the world of Lego™ at a young age, inspired by the endless possibilities 
                that these iconic bricks offered. Growing up surrounded by Lego™ sets, her passion for 
                building and creating unique designs flourished, fueling her ambition to share her creations
                with the world.
            </p>   
            <p class="indent">
                With a keen eye for detail and a deep appreciation for the art of Lego™ construction,
                Aurora quickly gained recognition within the Lego™ community for her intricate designs and innovative
                building techniques. Her dedication to craftsmanship and creativity earned her a loyal following
                on social media platforms, where she showcased her latest creations and engaged with fellow
                enthusiasts.
            </p>
            <p class="indent">
                As her popularity soared, Aurora seized the opportunity to turn her passion into a 
                profession. Leveraging her distributor license with The Lego Group™, she began offering her 
                meticulously curated Lego™ sets to her growing base of followers, both online and at prestigious 
                trade shows where her designs captivated audiences and garnered praise from fellow builders.
            </p>
        </div>
    </div>
</div>