@{
    ViewData["Title"] = "Edit Users";
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Users</title>
    <h4><powerful>This will be the CRUD Page for ADMINS ONLY that will be able to edit Users</powerful></h4>
    
</head>
<body>
<div>
      
</div>
</body>
</html>