@{
    ViewData["Title"] = "Home Page";
}
@model ProductRecommendations

<div class="gradient-header">
    <div>
        <h1 class="title">Aurora's Legos</h1>
        <h2 class="subtitle">Enriching lives one brick at a time</h2>
    </div>
</div>

<div class="container m-5">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="ringcontainer">
                <svg class="rotatingText" viewBox="0 0 470 470" width="25vw" height="25vw">
                    <defs>
                        <path id="circle" d= "M0 235a235 235 0 1 0 470 0a235 235 0 1 0 -470 0"></path>
                    </defs>
                    <text width="400" class="textcircle">
                        <textPath alignment-baseline="top" xlink:href="#circle" class="ringtext">
                            Auoras Legos  Auoras Legos  Auoras Legos  Auoras Legos
                        </textPath>
                    </text>
                </svg>
                <div class="ctr-container">
                    <img src="~/lib/img/Aurora.png" alt="Center Image" class="circle-img"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p class="indent">
                Aurora Brickwell, renowned Lego™ collector and master builder, is expanding her
                business with this new web app-based storefront. Leveraging her vast
                social media following and distributor license with The Lego Group™, Aurora aims to
                offer a curated selection of favorite Lego sets worldwide.

                Register, browse, and purchase products while receiving personalized product recommendations
                in one secure and private place.
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center my-4">Aurora's Recommendations For You</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <img src="https://www.lego.com/cdn/product-assets/element.img.lod5photo.192x192/300326.jpg" class="img-fluid" alt="Lego Set">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <img src="https://images.brickset.com/sets/images/5070-1.jpg" class="img-fluid" alt="Lego Set">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <img src="https://www.lego.com/cdn/cs/set/assets/bltfa6c9196a514bb03/31157.png?format=webply&fit=bounds&quality=75&width=800&height=800&dpr=1" class="img-fluid" alt="Lego Set">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <img src="https://www.brickeconomy.com/resources/images/sets/lego-4465-1_large.jpg" class="img-fluid" alt="Lego Set">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <img src="https://images.brickset.com/sets/large/745-1.jpg?201801070239" class="img-fluid" alt="Lego Set">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to handle cookie consent popup -->
<script>
   // Function to display the cookie consent popup
   function showCookiePopup() {
       var popup = confirm("We value your privacy\n\nWe use cookies to enhance your browsing experience, serve personalized ads, or content, and analyze our traffic. By clicking \"OK\", you consent to our use of cookies.");
       if (popup == true) {
           // User clicked OK, do nothing
       } else {
           // User clicked Cancel, do nothing
       }
   }


   // Call the function to display the popup when the page loads
   window.onload = showCookiePopup;
</script>
