@{
    ViewData["Title"] = "Home Page";
}

<div class="gradient-header">
    <div>
        <h1 class="title">Aurora's Legos</h1>
        <h2 class="subtitle">Enriching lives one brick at a time</h2>
    </div>
</div>

<div class="container m-5">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="RichTextFullWidth-content">
                    <div class="ringcontainer">
                        <svg class="rotatingText" viewBox="0 0 470 470" width="25vw" height="25vw">
                            <defs>
                                <path id="circle" d= "M0 235a235 235 0 1 0 470 0a235 235 0 1 0 -470 0"></path>
                            </defs>
                            <text width="400" class="textcircle">
                                <textPath alignment-baseline="top" xlink:href="#circle" class="ringtext">
                                    Auoras Legos  Auoras Legos  Auoras Legos  Auoras Legos
                                </textPath>
                            </text>
                        </svg>
                        <div class="ctr-container">
                            <img src="~/lib/img/Aurora.png" alt="Center Image"/>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <p class="indent">
                Aurora Brickwell, renowned Lego™ collector and master builder, is expanding her
                business with this new web app-based storefront. Leveraging her vast
                social media following and distributor license with The Lego Group™, Aurora aims to
                offer a curated selection of favorite Lego sets worldwide.

                Register, browse, and purchase products while receiving personalized product recommendations
                in one secure and private place.
            </p>
        </div>
    </div>
</div>