@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="container">
    <h1>Welcome to IntexII</h1>
    <p><strong>This is what we need to do/have - A professional looking landing page that introduces the site</strong></p>
</div>
</body>
</html>
