<div class="container filter-box">
    <div class="content-wrapper">
        <div class="box text-center">
            <h2 class="mb-4">Thank you for your order!</h2>
            <p class="mb-3">Your order is currently under review. Transaction details will be sent to you after it has been processed.</p>
            <p class="mb-3">Amount: $@Model.amount</p>

            <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-custom">Return to Home</a>
        </div>
    </div>
</div>