@model Orders
<div class="container filter-box">
    <div class="content-wrapper">
        <div class="box text-center">
            <h2>Thank you for your order!</h2>
            <p>Your order number is: @Model.transaction_Id</p>
            <p>Date of Transaction: @Model.date</p>
            <p>Amount: $@Model.amount</p>
        
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-custom">Return Home</a>
        </div>
    </div>
</div>