@{
ViewData["Title"] = "Privacy Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>This is the PRIVACY PAGE</title>
    <h4><strong>This privacy page will allow the user to review the privacy policy</strong></h4>
    <h4><strong>This contains the security part that is generated from the websites</strong></h4>
</head>
<body>
<div>
      
</div>
</body>
</html>