@{
ViewData["Title"] = "Products Page";
}

@model ProductsListViewModel

<!DOCTYPE html>

<html>
<head>
    <title>This page will be coded for when a user clicks on a product they are taken to a new page with the products detials</title>
    <title>Worry about this last - Configure routing at that time (not in home controller yet)</title>
</head>
<body>
<div>
      
</div>
</body>
</html>