@{
    ViewData["Title"] = "Review Orders";
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Products</title>
    <h4><powerful>This page will be for ADMINS Only to Review the Orders that have been placed</powerful></h4>
    <h4><powerful>and look for fraudulent activity</powerful></h4>
    
</head>
<body>
<div>
      
</div>
</body>
</html>