@model IntexII.Models.Customers

<div class="gradient-header">
    <h1 class="title">Update User</h1>
</div>
<div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto m-5 filter-box">
                <form asp-action="UpdateCustomer" method="post">
                    <input type="hidden" asp-for="customer_Id" />
                    <div class="form-group">
                        <label asp-for="first_Name" class="font-weight-bold">First Name</label>
                        <input asp-for="first_Name" class="form-control input-purple" />
                    </div>
                    <div class="form-group">
                        <label asp-for="last_Name" class="font-weight-bold">Last Name</label>
                        <input asp-for="last_Name" class="form-control input-purple" />
                    </div>
                    <div class="form-group">
                        <label asp-for="birth_date" class="font-weight-bold">Birth Date</label>
                        <input asp-for="birth_date" type="date" class="form-control input-purple" />
                    </div>
                    <div class="form-group">
                        <label asp-for="country_of_Residence" class="font-weight-bold">Country of Residence</label>
                        <input asp-for="country_of_Residence" class="form-control input-purple" />
                    </div>
                    <div class="form-group">
                        <label asp-for="gender" class="font-weight-bold">Gender</label>
                        <select asp-for="gender" class="form-control input-purple">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="age" class="font-weight-bold">Age</label>
                        <input asp-for="age" type="number" class="form-control input-purple" />
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>