/*BUILT IN CSS*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* font */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
/* navbar */
.navbar-nav .nav-item .nav-link:hover {
  color: #6441d7 !important;
}

/* footer*/
.footer {
  background-color: #F0F0F0;
  color: #333;
}

/* header */
.gradient-header {
  height: 200px;
  width: 100vw;
  background: linear-gradient(to right, #6441D7, #AF41D7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 75px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.subtitle {
  font-size: 24px;
  font-weight: lighter;
}

/* imgs within circles */
.circle-img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 2px solid #6441d7;
}

/* Indent Text */
.indent {
  text-indent: 20px; 
}

/* button */
.btn {
  background-color: #6441d7;
  color: white;
}
.btn:hover {
  background-color: #26008d;
  color: white;
}

/* --- RING --- */
/* ring container */
.ringcontainer {
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
/* rotation animation */
.rotatingText {
  animation-name: rotate-circle;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
/* rotation path */
.textcircle {
  transform-origin: center;
  position: absolute;
}
/* ring text */
.ringtext {
  font-weight: bold;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  fill: rgb(0, 0, 0);
}
/* --- CENTER ELEMENTS --- */
.ctr-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; /* Makes the image circular */
  width: 30vh; /* Set the size of the image */
  height: 30vh; /* Set the size of the image */
}

/* Filter Box Styling */
.filter-box {
  border: 2px solid #3052CF; /* Subtle border styling */
  padding: 20px; /* Padding around the filters */
  border-radius: 5px; /* Rounded corners for the filter box */
}

.filter-header {
  text-align: center; 
  margin-bottom: 15px; 
  font-size: 1.5rem; 
  color: black;
}
/*Product details page*/
 .product-details {
   margin: 20px;
   padding: 5vh 10vh 5vh 10vh;
   border: 1px solid #dee2e6;
   border-radius: 5px;
 }

.product-image img {
  width: 100%; /* responsive image size */
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-title {
  color: #333;
  font-size: 30px;
  font-weight: lighter;
}

.product-price {
  color: #007bff;
  font-size: 30px;
  margin-top: 10px;
}

.product-info {
  font-size: 16px;
  margin-top: 5px;
}

/*input form borders*/
.input-purple {
  border: 1px solid #6441d7; /* Purple border */
}

 .border-rounded .form-group {
   display: flex;
   justify-content: center; /* Centers form group content horizontally */
   align-items: center; /* Aligns form group content vertically */
 }

.cart-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
/* Add ellipsis to long text */
.table td, .table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}